<div class="container">
  <div class="text-center" style="margin: 30px">
    <h3>Editar Producto</h3>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="descripcionProducto" class="form-label">Descripción</label>
      <input type="text" class="form-control" id="descripcionProducto" name="descripcionProducto" 
      [(ngModel)]="producto.descripcionProducto" />
    </div>
    <div class="mb-3">
      <label for="existenciaProducto" class="form-label">Cantidad</label>
      <input type="number" class="form-control" id="existenciaProducto" name="existenciaProducto" 
      [(ngModel)]="producto.existenciaProducto" />
    </div>
    <div class="mb-3">
      <label for="precioProducto" class="form-label">Precio por unidad</label>
      <input type="number" step="any" class="form-control" id="precioProducto" name="precioProducto" 
      [(ngModel)]="producto.precioProducto" />
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success btn-sm me-3">Guardar</button>
        <button type="button" class="btn btn-danger btn-sm me-3" (click)="irAListaProductos()">Regresar</button>
    </div>


  </form>
</div>
