<div class="container">
  <div class="text-center" style="margin: 30px">
    <h3>Agregar Producto</h3>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="descripcionProducto" class="form-label">Descripción</label>
      <input type="text" class="form-control" id="descripcionProducto" name="descripcionProducto" 
      [(ngModel)]="producto.descripcionProducto" />
      
      <div id="descripcionProductoHelp" class="form-text">
        Haz una breve descripción del producto que vas a agregar.
      </div>
    </div>
    <div class="mb-3">
      <label for="existenciaProducto" class="form-label">Cantidad</label>
      <input type="number" class="form-control" id="existenciaProducto" name="existenciaProducto" 
      [(ngModel)]="producto.existenciaProducto" />
    </div>
    <div class="mb-3">
      <label for="precioProducto" class="form-label">Precio por unidad</label>
      <input type="number" step="any" class="form-control" id="precioProducto" name="precioProducto" 
      [(ngModel)]="producto.precioProducto" />
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success btn-sm me-3">Agregar</button>
        <a href="/" class="btn btn-warning btn-sm">Regresar</a>
    </div>


  </form>
</div>
