<div class="container">
    <div class="container text-center mt-5" style="margin: 30px;">
      <h1>Tinto Sentido</h1>
    </div>

    <div class="row justify-content-center">
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem; margin-top: 30px;">
          <img src="assets/images/JarraNTinto5entido.jpg" class="card-img-top" alt="Jarra de Tinto Sentido Logo">
          <div class="card-body">
            <h5 class="card-title">Inventario</h5>
            <p class="card-text">Gestiona todos los productos y existencias.</p>
            <button class="btn btn-primary" (click)="irAListaProductos()">Ir al Inventario</button>   
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem; margin-top: 30px;">
          <img src="assets/images/JarraVTinto5entido.jpg" class="card-img-top" alt="Tinto Sentido Logo">
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Administra la información de tus clientes.</p>
            <button class="btn btn-primary" (click)="irAListaClientes()">Ir a Clientes</button>   
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card" style="width: 18rem; margin-top: 30px;">
          <img src="assets/images/JarraBNTinto5entido.jpg" class="card-img-top" alt="Tinto Sentido Logo">
          <div class="card-body">
            <h5 class="card-title">Proveedores</h5>
            <p class="card-text">Administra la información de tus proveedores.</p>
            <button class="btn btn-primary" (click)="irAListaProveedores()">Ir a Proveedores</button>   
          </div>
        </div>
      </div>
      
    </div>


</div>
