<div class="container">
    <div class="container text-center mt-5" style="margin: 30px;">
      <h3>Listado de Proveedores</h3>
    </div>

    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
            <th scope="col">Id</th>
            <th scope="col">NIT</th>
            <th scope="col">Nombre</th>
            <th scope="col">Contacto</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Correo</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Sitio Web</th>
            <th scope="col">Acciones</th>
            <!-- <th scope="col">Factura</th> -->
            </tr>
        </thead>
        <tbody>
            @for(proveedor of proveedores; track proveedor.idProveedor) {
                <tr>
                    <th scope="row">{{ proveedor.idProveedor }}</th>
                    <td>{{ proveedor.nitProveedor }}</td>
                    <td>{{ proveedor.nombreProveedor }}</td>
                    <td>{{ proveedor.contactoProveedor }}</td>
                    <td>{{ proveedor.telefonoProveedor }}</td>
                    <td>{{ proveedor.direccionProveedor }}</td>
                    <td>{{ proveedor.correoProveedor }}</td>
                    <td>{{ proveedor.ciudadProveedor }}</td>
                    <td>{{ proveedor.sitioWebProveedor }}</td>
                    <!-- <td>{{ proveedor.facturaProveedor }}</td>                     -->
                     <td class="text-center">
                        <button (click)="editarProveedor(proveedor.idProveedor)"
                        class="btn btn-warning btn-sm me-3">Editar</button>
                     </td>
                </tr>
            }            
        </tbody>
    </table>
</div>